<%= form_for @micropost do |f| %>
    <%= render "shared/error_message", object: @micropost %>
    <div class="field">
      <%= f.text_area :context, placeholder: "Compose new micropost..." %>
      <%= f.file_field :picture, accept: "image/jpg,image/jpg,image/png" %>
    </div>
    <%= f.submit t("words.create"), class: "btn btn-primary" %>
<% end %>